@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/swiper-bundle.min.css';

/* @import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); */

.landingtext{
    font-family: 'Oswald';
}
.categories-heading{
    font-family: 'Oswald';
}
.categories-subtext{
    font-family: 'Montserrat';
}