@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/swiper-bundle.min.css';

.landingtext{
    font-family: 'Oswald';
}
.categories-heading{
    font-family: 'Oswald';
    min-height: 50px;
}
.categories-subtext{
    font-family: 'Montserrat';
}